html
head
style.
    h3 {

        margin-top:"200px";
        font-size: 19px;
        color:#4caf50;
    }
- var per = result

    
  
  h3= title
 
  
      h4= "Receipt Number" + ': ' +per.TP_ReceiptNo
      h4="Amount"+':'+per.TP_Amount
      h4= "Reference Number" + ': ' +per.TP_RefNo
      h4= "Payment Date" + ': ' + per.TP_Paymentdate
  